.SidebarTag {
    width: 20px; 
    height: 20px; 
    padding: 10px 4px 10px 4px; 
    margin: 4px; 
}

.homeTag{
    background-color: #561E67; 
    width: 20px;
    height: 20px;
    padding : 30px 10px 30px 10px; 
    margin:0; 
}